# Игнорировать папку .vs
.vs/

# Игнорировать папку bin
bin/

# Игнорировать папку obj
obj/

net8.0-windows/

CopilotIndices/

v17/

# Игнорировать файлы пользовательских настроек
*.user
*.suo

# Игнорировать файлы кэша
*.cache
*.backup

*.suo